* {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
body{
  background-color: #E6ECF0;
}
.header {
  background-color: #00aced;
  height: 70px;
  align-items: center;
  color: white;
}
.icon-twitter{
  font-size: 45px;
  padding: 20px;
}
.profile {
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  margin: 10px;
}
.user-name, .user-link {
  padding-top: 10px;
  text-align: center;
  color: #657786;
}
.tweet-box {
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  margin-top:10px;
  margin-bottom: 10px;
}
#tweet-message {
  border: 1px solid #657786;
  border-radius: 5px;
  width: 90%;
  font-size: 18px;
}
#wordCount {
  font-weight: bold;
}
.posts {
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}
ul {
  list-style: none;
}
li {
  padding: 10px;
}

@media screen and (max-width: 576px) {
  .row {
    display: block;
    margin: 10px;
    background-color: #FFFFFF;
  }
 .tweet-box, .posts, {
    display: block;
    width: 100%;
    margin: auto;
  }
  #tweet-message {
    width: 100%;
    font-size: 16px;
  }
}